<div class="well">
    <h4>Sosyal Medya</h4>
    <hr />
    <ul class="nav nav-tabs" role="presentation">
        <li>
            <a href="https://www.facebook.com/ckr.sinan" target="_blank">
                <span class="fa fa-facebook"></span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/ckr_sinan" target="_blank">
                <span class="fa fa-twitter"></span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/sinancakirr/" target="_blank">
                <span class="fa fa-instagram"></span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/sinancakir/" target="_blank">
                <span class="fa fa-linkedin"></span>
            </a>
        </li>
        <li>
            <a href="https://github.com/sinancakir" target="_blank">
                <span class="fa fa-github"></span>
            </a>
        </li>
    </ul>
</div>